*~
clutter/*
__pycache__/*
.DS_Store
.ipynb_checkpoints/
Untitled.nb
Senior_Memo_Thesis_Guidelines_2019_final.pdf
scratch.ipynb

draft/*.pdf
lit
notes
outline

# Experiment results
anccorlen
anccorlen_t2
ancL3
ancL3_evol
ancL8_obc
ancL8_pbc
anctimecor
ent_1d_obc
ent_1d_pbc
ent_anc_obc_nearpc
ent_anc_pbc
probe_1pt
probe_2pt
sff
sff_charge
sff_randmat
temp
tmi_anc
tmi_nearpc
tmi_wide


